<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" style="color: #060ef9;"></i>
            <i class="fa-brands fa-square-instagram" style="color: #f906b8;"></i>
            <i class="fa-brands fa-linkedin" style="color: #254276;"></i>
        </div>
        <div class="f-info-brands">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>